@font-face {
    font-family: 'Poppins Semibold';
    src: url('../fonts/Poppins/Poppins-SemiBold.eot');
    src: url('../fonts/Poppins/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins/Poppins-SemiBold.woff') format('woff'),
    url('../fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Medium';
    src: url('../fonts/Poppins/Poppins-Medium.eot');
    src: url('../fonts/Poppins/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins/Poppins-Medium.woff') format('woff'),
    url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Light';
    src: url('../fonts/Poppins/Poppins-Light.eot');
    src: url('../fonts/Poppins/Poppins-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins/Poppins-Light.woff') format('woff'),
    url('../fonts/Poppins/Poppins-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Light Italic';
    src: url('../fonts/Poppins/Poppins-LightItalic.eot');
    src: url('../fonts/Poppins/Poppins-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins/Poppins-LightItalic.woff') format('woff'),
    url('../fonts/Poppins/Poppins-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}