@media only screen and (min-width : 1140px) and (max-width : 1500px) {
    /* HEADER */

    .header {
        height: 1055px;
    }

    .header_background-wrap {
        height: 900px;
        background: url('../img/bg-header.png') no-repeat center top/cover;
    }

    .header__top {
        padding: 60px 8% 0 8%;
    }

    .header-navigation a {
        color: #FFF;
        padding: 16px 26px;
        margin-top: 5px;
    }

    .header-navigation a:hover {
        color: #5584FF;
        border: #5584FF solid 1px;
        border-radius: 25px;
        padding: 15px 25px;
    }

    .header h1 {
        font: 45px 'Roboto Thin';
        color: #FFF;
        margin-top: 180px;
    }

    .header h2 {
        font: 26px 'Roboto Regular';
        color: #8492AF;
        margin-top: 29px;
    }

    .header-picture {
        width: 60%;
    }

    /* FIRST SECTION */

    .first-section__top {
        width: 100%;
    }

    .first-section__top_text-element {
        width: 350px;
    }

    .first-section__top_text-elements {
        justify-content: space-around;
    }

    .line {
        display: none;
    }

    .first-section__top_img-elements {
        width: 100%;
        justify-content: space-around;
    }

    .first-section__bottom {
        display: flex;
        height: 600px;
        width: 100%;
        background: url('../img/bg-first-section.png') no-repeat center top/cover;
    }

    .first-section__bottom_left_text h1 {
        font-size: 45px;
        margin-bottom: 30px;
    }
    

    .first-section__bottom_left_text {
        width: 500px;
    }

    /* THIRD SECTION */

    .third-section__top {
        height: 850px;
    }

    .third-section__top img {
        max-width: 90%;
    }

    .third-section__bottom_elements {
        width: 100%;
        justify-content: space-around;
    }

    .third-section__top h1 {
        font-size: 45px;
    }

    /* FOOTER */

    .footer>.container {
        width: 100%;
    }

    .footer__all-right-reserved {
        margin-left: 50px;
    }
}