.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    color: #FFF;
}

.left {
    display: flex;
    background: darkcyan;
    min-height: 500px;
    flex: auto; 
    /* align-content: center; */
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
}

.right {
    margin-left: 30px;
    display: flex;
    flex-basis: 220px;
    flex-direction: column;
}

.block-first {
    display: flex;
    background: brown;
    min-height: 200px;
    flex: auto;
    justify-content: center;
    align-items: center;
}

.block-second {
    display: flex;
    margin-top: 25px;
    background: darkorchid;
    min-height: 200px;
    flex: auto;
    justify-content: center;
    align-items: center;
}

.block-1 {
    background: yellowgreen;
    flex: 0 0 220px;
    height: 200px;
    flex-grow: 2;
}

.block-2 {
    background: darkblue;
    flex: 0 0 220px;
    height: 200px;
    flex-shrink: 2;
}
.block-3 {
    background: gray;
    flex: 0 0 220px;
    height: 200px;
}
.block-4 {
    background: darkgoldenrod;
    flex: 0 0 220px;
    height: 200px;
}
.block-5 {
    background: darkred;
    flex: 0 0 220px;
    height: 200px;
}
.block-6 {
    background: darkslategray;
    flex: 0 0 220px;
    height: 200px;
}
.block-7 {
    background: darkkhaki;
    flex: 0 0 220px;
    height: 200px;
}
.block-8 {
    background: darkgreen;
    flex: 0 0 220px;
    height: 200px;
}