html, body {
    height: 100%;
    margin: 0;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

a, a:hover {
    text-decoration: none;
}

.container {
    width: 1470px;
    margin: 0 auto;
}

.button {
    display: inline-block;
    font: 18px 'Roboto Bold';
    color: #FFF;
    background-color: #5584FF;
    border-radius: 25px;
    padding-top: 13px;
    padding-bottom: 13px;
}